.myCard {
  height: 35vh;
  background-color: blanchedalmond;
  cursor: pointer;
  transition: background-color 0.3s;
}
.myCard:hover {
  background-color: #303030ea;
}
.card-img-top {
  height: 140px;
}
.card-body > h5{
  color: purple;
    font-family: 'Gotham', sans-serif;
    font-size: medium;
    text-align: center;
}
.card-text {
  color: gray;
  font-family: 'Gotham', sans-serif;
  font-weight: 500;
  font-size: 14px;
}