.loginBox {
    width: 25%;
    height: 70vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* background-color: white; */
    border-radius: 10px;
    /* margin-top: 105px; */
   
background: #dee2e6;

}

.signupBtn:hover {
    color: white;
}

.error{
    color: red;
    font-size: 12px;
}
.passwordContainer {
    
    display: flex;
    align-items: center;
    gap: 10px;
}