
* {
    padding-left: 0%;
    margin-left: 0%;
}

body {
    /* background-color: #000000;
    background-image: linear-gradient(45deg, #000000 0%, #ba2593 94%); */

    background-size: 400%;

    animation: body-animation 30s linear infinite alternate;

}
@keyframes body-animation {
    from {
        background-position: left;
    }

    to {
        background-position: right;
    }
}
.titleCont {
    width: 260px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 50px;
    height: 60px;
    display: flex;
    justify-content: center;
    border-radius: 71px;
    align-items: center;
    
    background-color: black;
}
.hello {
    font-family: 'Pacifico', cursive;
    background-color: #FAACA8;
    background-image: linear-gradient(19deg, #FAACA8 0%, #DDD6F3 100%);
    text-align: center;
    background-size: 400%;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: body-animation 30s linear infinite alternate;
    margin: 0;
}
.optionCont1 {
    border-radius: 71px;
    background-color: black;
    height: 65px;
    width: 475px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;

}
.option1 {
    font-family: 'Kalam', cursive;
    background-color: #fb6161;
    background-image: linear-gradient(45deg, #fb6161 0%, #fff95a 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: body-animation 30s linear infinite alternate;
    margin: 0;

background-clip: text;
-webkit-background-clip: text;
color: transparent;
animation: body-animation 30s linear infinite alternate;

}
.carouselcontainer {
    width: 30%;
    margin: 65px auto;
    
}
.quote {
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
}
.titleQuote {
    font-family: 'Dancing Script', cursive;
    font-size: 25px;
    font-weight: bolder;
}
.optionCont2 {
    background-color: black;
    width: 415px;
    border-radius: 71px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.option2 {
    font-family: 'Kalam', cursive;
    background-color: #fb6161;
    background-image: linear-gradient(45deg, #fb6161 0%, #fff95a 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    margin: 0;
    animation: body-animation 30s linear infinite alternate;
}